<div class="span12">
	<div class="span-fluid">
		<div class="pull-left">
			<%= image_tag("logo_very_light_no-shadow.png", size:"400x400") %><br><br>
		</div>
	</div>
	<div class="span-fluid">
		<div class="span8">
			<div class="hero-unit">
				<h2>Your Agents</h2>
				<div class="pull-right">
					<%= link_to "Add New Agent", new_user_registration_path, class: "btn btn btn-success" %>
				</div>
				<table class="table table-bordered table-condensed">
					<thead>
						<tr>
							<th>Detail</th>
							<th>Agent Name</th>
							<th>Number of Uses</th>
							<th>Number of Requests</th>
							<th>Number of Showings</th>
						<tr>
					</thead>
					<tbody>
						<% @agents.each do |x| %>
							<% profile = Profile.where(user_id: x.id).last %>
							<% data = x.agent_datas.last %>
							<tr>
								<td><%= link_to "Details", dashboard_path(x), class: "btn btn-small btn-primary" %></td>
								<td><%= x.name %></td>
								<td><% x.sign_in_count %></td>
								<td><% if data %><%= data.requests %><% end %></td>
								<td><% if profile %><%= profile.num_showings %><% end %></td>
							<tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
		<div class="span3">
			<div class="span-fluid">
				<div class=hero-unit>
					<h3>Currently Available</h3>
					<ul>
						<% @live_agents.each do |live| %>
							<li><%= live.name %></li>
						<% end %>
					</ul>
				</div>
			</div> <!-- span fluid -->
			<div class="span-fluid">
				<div class="hero-unit">
					<h3>Currently On a Showing</h3>
					<ul>
						<%# @showing_now.each do |showing_now| %>
						<li>
							<%# showing_now.name %>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div> <!-- span -->
</div>