.row.form-wrapper
  / left column
  .col-md-9.with-sidebar
    = nested_form_for [:brokerage_dashboard, @form_brokerage, @user], html: { class: "form-horizontal"} do |f|
      - if @user.errors.any?
        #error_explanation
          %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
          %ul
            - @user.errors.full_messages.each do |msg|
              %li= msg
      
      .form-group
        %label.col-md-2.control-label{:for => "inputName1"} Name
        .col-md-8
          =f.text_field :name, class: "form-control",:placeholder => "Name", :type => "text"
      .form-group
        %label.col-md-2.control-label{:for => "inputEmail1"} Email
        .col-md-8
          =f.text_field :email, class: "form-control",:placeholder => "Email", :type => "text"
      -if !@user.persisted?
        .form-group
          %label.col-md-2.control-label{:for => "inputPassword1"} Password
          .col-md-8
            =f.text_field :password, class: "form-control",:placeholder => "Password  ", :type => "password", :autocomplete=>"false"
      -if @user.persisted?      
        %h3 Emergency Contacts
        =f.fields_for :emergency_contacts do |builder|
          .form-group
            %label.col-md-2.control-label{:for => "inputName1"} Name
            .col-md-8
              =builder.text_field :name, class: "form-control",:placeholder => "Name", :type => "text"
          .form-group
            %label.col-md-2.control-label{:for => "inputName1"} Phone
            .col-md-8
              =builder.text_field :phone, class: "form-control",:placeholder => "Phone", :type => "text"
          .form-group
            %label.col-md-2.control-label{:for => "inputName1"} Email
            .col-md-8
              =builder.email_field :email, class: "form-control",:placeholder => "Email", :type => "text"
          .form-group
            %label.col-md-2.control-label{:for => "inputName1"} Remove Contact
            .col-md-8
              = builder.link_to_remove "Remove this Contact"
          
        = f.link_to_add "Add a Contact", :emergency_contacts

      .form-group
        .col-md-offset-2.col-md-8
          = f.submit 'Save', class: "btn-glow primary"
