#pad-wrapper.new-user
  .row.header
    .col-md-12
      %h3 Editing User
  = render 'form'

  = link_to 'Show', brokerage_dashboard_user_path(@user)
  \|
  = link_to 'Back', brokerage_dashboard_brokerage_users_path(@brokerage)
