.users-list
  .row.header
    %h3 Users
    .col-md-10.col-sm-12.col-xs-12.pull-right
      %input.col-md-5.search{:placeholder => "Type a user's name...", :type => "text"}/
      / custom popup filter
      / styles are located in css/elements.css
      / script that enables this dropdown is located in js/theme.js
      .ui-dropdown
        .head{"data-toggle" => "tooltip", :title => "Click me!"}
          Filter users
          %i.arrow-down
        .dialog
          .pointer
            .arrow
            .arrow_border
          .body
            %p.title
              Show users where:
            .form
              %select
                %option Name
                %option Email
                %option Number of orders
                %option Signed up
                %option Last seen
              %select
                %option is equal to
                %option is not equal to
                %option is greater than
                %option starts with
                %option contains
              %input.form-control{:type => "text"}/
              %a.btn-flat.small Add filter
      =link_to "NEW USER +", new_brokerage_dashboard_brokerage_user_path, class: "btn-flat success pull-right"\
  / Users table
  .row
    .col-md-12
      %table.table.table-hover
        %thead
          %tr
            %th.col-md-4.sortable
              Name
            %th.col-md-3.sortable
              %span.line>
              Signed up
            %th.col-md-2.sortable
              %span.line>
              Showings
            %th.col-md-3.sortable.align-right
              %span.line>
              Email
        %tbody
          / row
          -@agents.each do |agent|
            %tr
              %td
                =image_tag image_url(agent), class: "img-circle avatar hidden-phone"
                =link_to agent.name, brokerage_dashboard_user_path( agent), class: "name"
                %span.subtext 
                  Last Showing:
                  = last_showing(agent)
              %td
                =agent.created_at.strftime("%a %b %d %Y")
              %td
                =agent.showings.count
              %td.align-right
                %a{:href => "#"}=agent.email
  = paginate @agents
  / end users table