#pad-wrapper.user-profile
  / header
  .row.header
    .col-md-1
      =image_tag image_url(@user), class: "avatar img img-circle m-t-xs img-responsive"
    .col-md-7
      %h3.name=@user.name
      %span.area 
        =@user.showings.count
        Showing(s)
    %a.btn-flat.icon.pull-right.delete-user{"href"=> brokerage_dashboard_user_path(@user),"data-confirm" => "Are you sure?","data-placement" => "top","data-method" => "delete", "data-toggle" => "tooltip", :title => "Delete user"}
      %i.icon-trash
    =link_to "Edit this person", edit_brokerage_dashboard_user_path(@user), class: "btn-flat icon large pull-right edit"  
    =link_to "Reset Password", reset_password_brokerage_dashboard_user_path(@user), class: "btn-flat icon large pull-right edit"  
    
  .row.profile
    / bio, new note & orders column
    .col-md-9.bio
      .profile-box
        / biography
        .col-md-12.section
          %h6 Biography
          %p=@user.try(:profile).try(:bio)
        %h6 Recent Showings
        %br/
        / recent orders table
        %table.table.table-hover
          %thead
            %tr
              %th.col-md-2
                ID
              %th.col-md-3
                %span.line
                Address
              %th.col-md-3
                %span.line
                Buyer
              %th.col-md-3
                %span.line
                Date
          %tbody
            / row
            -@showings.each do |showing|
              %tr
                %td
                  =link_to "##{showing.id}", brokerage_dashboard_showing_path(showing)
                %td
                  =showing.address
                %td
                  =showing.buyer_name
                %td
                  =showing.created_at.strftime("%a %b %d %Y")


        %h6 Emergency Contacts
        %br/
        / emergency contacts list
        %table.table.table-hover
          %thead
            %tr
              %th.col-md-3
                %span.line
                Name
              %th.col-md-3
                %span.line
                Phone
              %th.col-md-3
                %span.line
                Email
          %tbody
            / row
            -@user.emergency_contacts.each do |contact|
              %tr
                %td
                  =contact.name
                %td
                  =contact.phone
                %td
                  =contact.email
                  
        / new comment form
        .col-md-12.section.comment
          %h6 Add a quick note
          %p Add a note about this user to keep a history of your interactions.
          %textarea
          %a{:href => "#"} Attach files
          .col-md-12.submit-box.pull-right
            %input.btn-glow.primary{:type => "submit", :value => "Add Note"}/
            %span OR
            %input.reset{:type => "reset", :value => "Cancel"}/
    / side address column
    .col-md-3.col-xs-12.address.pull-right
      %h6 Contact Info
      %ul
        -if @user.try(:profile).try(:phone)
          %li.ico-li
            %i.ico-phone=@user.try(:profile).try(:phone)
        %li.ico-li
          %i.ico-mail
          %a{:href => "#"}=@user.email