body {
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  color: #59626a;
}

header {
  border-bottom: 1px solid #f4f7f9;
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 40px 0;
  z-index: 10;
}

header.page .logo {
  top: 0;
}

header .logo {
  display: inline-block;
  width: 110px;
  height: 22px;
  background: url(/images/app/buffer-logo.png) no-repeat;
  background-size: 110px 22px;
  text-indent: -9999px;
  position: relative;
  top: -4px;
  z-index: 100;
}

header nav {
  float: right;
  position: relative;
  top: 3px;
}

header.page nav li {
  position: relative;
  top: -5px;
  margin-left: 10px;
}

header nav li {
  display: inline;
  list-style-type: none;
  margin-left: 40px;
  float: left;
}

nav ul li {
  float: left;
  position: relative;
}

.button.blue, button.blue, input[type=button].blue, input[type=reset].blue, input[type=submit].blue {
  background: #168eea;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#1f93eb),color-stop(100%,#168eea));
  background: -webkit-linear-gradient(top,#1f93eb 0,#168eea 100%);
  background: -webkit-gradient(linear,left top,left bottom,from(#1f93eb),to(#168eea));
  background: linear-gradient(top,#1f93eb 0,#168eea 100%);
  border: 1px solid #137dcf;
  color: #fff;
  text-shadow: 0 0 1px rgba(0,0,0,.3);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.07);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.07);
  font-size: 14px;
  font-weight: 400;
}

header nav li a.button {
  margin-top: 3px;
  position: relative;
  top: -8px;
}

nav ul li a.button {
  height: 100%;
}
.button, button, input[type=button], input[type=reset], input[type=submit] {
  background: #fff;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#fff));
  background: -webkit-linear-gradient(top,#fff 0,#fff 100%);
  background: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#fff));
  background: linear-gradient(top,#fff 0,#fff 100%);
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  color: #363c40;
  text-decoration: none;
  line-height: 21px;
  text-shadow: none;
  margin-bottom: 20px;
  padding: 8px 20px;
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ced7df;
  border-radius: 3px;
  position: relative;
  top: 0;
}

.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0;
}

footer {
  position: relative;
  clear: both;
  padding: 60px 0;
  text-align: center;
  color: #999;
  width: 960px;
  margin: 0 auto;
  border-top: 1px solid #f4f7f9;
}

#buffer-for-developers footer {
  margin-top: 40px;
}

footer ul {
  padding-left: 0;
}
footer .row {
  margin-bottom: 0;
  margin-top: 0;
  border-top: 0;
  padding: 10px 0;
}

footer li {
  display: inline;
  list-style-type: none;
  margin: 0 7px;
  font-size: 14px;
}

.hero {
  height: auto;
  padding: 40px 0 70px;
  text-align: center;
  margin: 0 auto 20px;
  border-bottom: 1px solid #f4f7f9;
  border-top: 0;
}

.hero-subnav.developers {
  margin-bottom: 0;
}



.hero-subnav {
  padding: 0;
  margin: 0;
  border-top: 0;
  border-bottom: 1px solid #eee;
  text-align: center;
  margin-bottom: 30px;
}

.h1, h1 {
  font-size: 50px;
}

p.lead {
  font-size: 17.5px;
  line-height: 28px;
}



.hero p {
  max-width: 65%;
  margin: 0 auto 20px;
}

p.lead {
  font-size: 17.5px;
  line-height: 28px;
}

.button.large, button.large, input[type=button].large, input[type=reset].large, input[type=submit].large {
  padding: 20px 40px;
  font-size: 15.4px;
}

.container .seven.columns {
  width: 400px;
}

.container .nine.columns {
  width: 520px;
}

.h5, h5 {
  font-size: 18px;
}

.page-sidebar {
  width: 230px;
  float: left;
  margin-top: 46px;
  position: static;
}

.page-sidebar ul {
  list-style-type: none;
  border-radius: 3px;
  border: 1px solid #ced7df;
  width: 100%;
  padding: 10px 0;
}

.page-sidebar ul ul {
  border: 0;
  padding: 0;
  padding-top: 20px;
  border-top: 1px solid #f4f7f9;
  margin-top: 10px;
}

.page-sidebar ul ul li.sub-list {
  padding: 0 0 10px 20px;
  color: #323b43;
  font-size: 16px;
  font-weight: 600;
}

.page-sidebar a {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 20px;
  display: inline-block;
  color: #59626a;
  font-size: 14px;
  text-decoration: none;
}

.container .twelve.columns {
  width: 700px;
}

.content-wrapper.docs {
  padding-bottom: 40px;
}

.container .column, .container .columns {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

#buffer-for-developers .content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.content-wrapper.docs .content {
  margin-top: 46px;
  padding-left: 30px;
}

#buffer-for-developers .content h5 {
  margin-bottom: 10px;
}



.clients {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.clients li {
  display: block;
  position: relative;
  padding: 40px 0 40px 80px;
  min-height: 48px;
  border-top: 1px solid #f4f7f9;
}

.clients li:first-child {
  border-top: 0;
}

.clients li .icon {
  position: absolute;
  top: 40px;
  left: 0;
  width: 48px;
  height: 48px;
}

.clients li .actions {
  position: absolute;
  top: 40px;
  right: 0;
}

.h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 .h1 {
  font-family: inherit;
  font-weight: 600;
  line-height: 1.4;
  color: #323b43;
  margin: 30px 0 20px;
}

.chunky-form label {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  color: #323b43;
  padding: 5px 0;
  text-align: left;
}

.content-wrapper.docs form.create label, .content-wrapper.docs form.edit label {
  font-size: 11px;
  color: #59626a;
  font-weight: 600;
  display: block;
}

.content-wrapper.docs form.create input[type=text], .content-wrapper.docs form.edit input[type=text] {
  font-size: 14px;
  color: #323b43;
}

.content-wrapper.docs form.create input[type=text], .content-wrapper.docs form.create textarea, .content-wrapper.docs form.edit input[type=text], .content-wrapper.docs form.edit textarea {
  width: 400px;
  border-radius: 3px;
  outline: 0;
  border: 1px solid #ced7df;
  -webkit-box-shadow: 0;
  box-shadow: 0;
  padding: 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 20px;
}

.content-wrapper.docs form.create p.details, .content-wrapper.docs form.edit p.details {
  font-size: 11px;
  font-style: italic;
}

.clients li dl dd, .clients li dl dt {
  float: left;
  padding: 2px;
}

.clients li dl dt {
  clear: left;
  width: 120px;
  color: #323b43;
}

.clients li dl dd, .clients li dl dt {
  float: left;
  padding: 2px;
}

.clients li dl dd {
  margin: 0;
}

#buffer-for-developers .content h5 {
  margin-bottom: 10px;
}

.clients li .name {
  color: #323b43;
  margin-bottom: 5px;
  margin-top: 0;
}

header nav li a.button {
  margin-top: 3px;
  position: relative;
  top: -8px;
}

#buffer-for-developers .content h4.example {
  background: #323b43;
  margin-bottom: 0;
  color: #fff;
  padding: 10px;
  padding-left: 15px;
  font-weight: 400;
  font-size: 10px;
  text-transform: uppercase;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 3px;
  background-clip: padding-box;
}

#buffer-for-developers .content table.params {
  margin-bottom: 20px;
  border: 1px solid #ced7df;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 0;
  background-clip: padding-box;
  width: 100%;
}

#buffer-for-developers .content table.params tr td:first-child {
  border-left: 0;
}

#buffer-for-developers .content table.params tr td {
  padding: 10px;
  vertical-align: top;
  border-left: 1px solid #f4f7f9;
  font-size: 12px;
  text-align: left;
}

#buffer-for-developers .content table.params tr td .required {
  display: block;
  font-size: 11px;
  color: #168eea;
}

