= form_for [:developers, @app], html: { class: "chunky-form create"} do |f|
  - if @app.errors.any?
    #error_explanation
      %h2= "#{pluralize(@app.errors.count, "error")} prohibited this app from being saved:"
      %ul
        - @app.errors.full_messages.each do |msg|
          %li= msg
  .required
    %label{:for => "name"} Name
    =f.text_field :name, class: "name",:placeholder => "Name", :type => "text"
    %p.details Your app name, this is shown on the user-facing authorization screens.
  .required
    %label{:for => "description"} Description
    =f.text_area :description, class: "", id: "description" ,:placeholder => "Description", :type => "text"
    %p.details A Short description of your app to be shown at the side of the authorization screen.
  .required
    %label{:for => "description"} Website
    =f.text_field :website, class: "website",:placeholder => "Website", :type => "text"
    %p.details Your application's home page, where users can go to find out more information about your app.
  %div
    %label{:for => "organization"} Organization
    =f.text_field :organization, class: "organization", id: "organization", :placeholder => "organization", :type => "text"
    %p.details The company behind this application, if any.
  %div
    = f.submit 'Create Application', class: "blue"
  