%h5 Registered Apps
%ul.clients
  -@apps.each do |app|
    %li
      %img.icon{:src => "https://d389zggrogs7qo.cloudfront.net/images/icons/app-default.png"}/
      %h5.name= app.name
      %p.description= app.description
      %dl.clearfix
        %dt Client ID:
        %dd= app.client_id
        %dt Client Secret:
        %dd Please find the client secret in your email inbox.
        %dt Access Token:
        %dd
          %span.token= app.access_token
        %dt Sandbox Token:
        %dd
          %span.token= app.sandbox_access_token
      .actions
        =link_to "Edit App", edit_developers_app_path(app), class:"button"

=link_to "Create an App", new_developers_app_path, class: "button blue"