.docs.page-sidebar
  %ul
    %ul
      %li.sub-list
        %i.ss-icon.ss-connection
        Libraries
      %li
        %a{:href => ""} Ruby
      %li
        %a{:href => ""} ObjC
      %li
        %a{:href => ""} Java
    %ul
      %li.sub-list
        %i.ss-icon.ss-fork
        API
      %li
        =link_to "Authentication", developers_api_doc_path("authentication")
      %li
        =link_to "Agents", developers_api_doc_path("agents")
      %li
        =link_to "Showings", developers_api_doc_path("showings")
      %li
        =link_to "Reporting", developers_api_doc_path("reporting")

    %ul
      %li.sub-list
        %i.ss-icon.ss-grid
        Your Apps
      %li
        =link_to "Registered Apps", developers_apps_path
      %li
        =link_to "Create an App", new_developers_app_path
