%script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyAJfjOMKoBPVPs7u4wdrlhsUlcvsDKsUhE&libraries=geometry", :type => "text/javascript"}

.row
  .col-md-6
    .ibox
      .ibox-title
        %h5 Sightings Map
        %span.beacon
          %span.ring
          %span.dot
      .ibox-content
        %p
          This is the location history of the showing. If the showing is still in progress, the current location on the map (red pin) will be
          automatically updated.
        #map-canvas.googmap_square
  .col-md-6
    .ibox
      .ibox-title
        %h5 Showings Details
      .ibox-content
        %p
          %b Agent:
          = User.find(@showing.showing_owner_id).name
        %p
          %b Address:
          = @showing.address
        %p
          %b Buyer name:
          = @showing.buyer_name
        %p
          %b Agent name:
          = @showing.agent_name
        %p
          %b Status:
          = @showing.agent_state
        %p
          %b Mls num:
          = @showing.mls_num
        %p
          %b Sighting Count:
          = @showing.sightings.count
        -if @showing.sightings.length > 0
          %p
            %b Last Contact:
            ="#{@showing.sightings.last.created_at.strftime("%a %b %d %Y")} (#{distance_of_time_in_words(@showing.sightings.last.created_at, Time.zone.now)} ago)"
        %p
          %b Showing Length:
          =@showing.time_length.to_i
          Minutes
        %p
          %b Date:
          = @showing.created_at.strftime("%a %b %d %Y")
        %p
          %b Showing State:
          = @showing.status
        %p
          %b Called:
          = @showing.called.to_s.capitalize	 
        %p
          %b Texted:
          = @showing.texted.to_s.capitalize	 		  
    .ibox
      .ibox-title
        %h5 History
      .ibox-content
        %ul.list-group.clear-list.m-t
          -@showing.history.all.each_with_index do |event,i|
            %li.list-group-item.fist-item
              %span.pull-right
                ="#{event[:ts].strftime("%I:%M %p")}"
              %span.label.label-success=i
              ="#{CurbCall::SafetyRadius::History::MESSAGES[event[:event].to_sym]}"




  :cdata
:javascript
  var page_id = "showing#show"
  var showing = #{@showing.to_json({include: :sightings})}


%p#notice= notice
