/**General Style*/
.content_page {
	width: 100%;
	height: 100%;
	padding-left: 5px!important;
	padding-right: 5px!important;
	text-align: center;
	margin-top: 10px;
	background-color: #b6d6df;
	
	a {
		text-decoration: underline;
	}
}
/**General Style*/