=form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .login-wrapper
    %a{:href => "index.html"}
      =image_tag "dashboard/cc_logo_inv.png", class: "logo"
    .box
      .content-wrap
        %h6 Log in
        =f.email_field :email, class: "form-control", placeholder:"Email address", autofocus: true
        =f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Your password"
        =link_to "Forgot password?", new_password_path(resource_name), class: "forgot"
        
        - if devise_mapping.rememberable?
          .remember
            = f.check_box :remember_me
            = f.label :remember_me
        
        = f.submit "Log in", class: "a btn-glow primary login"
    .no-account
      %p Don't have an account?
      =link_to "Sign up", new_registration_path(resource_name)
