%script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyAJfjOMKoBPVPs7u4wdrlhsUlcvsDKsUhE", :type => "text/javascript"}

:javascript
  var page_id = "index"
  var points = #{@showings.to_json({include: {sightings:{}, showing_owner:{include: :profile}}, methods:[:time_length, :build_request_sightings] }) }
#main-stats
  .row.stats-row
    .col-md-3.col-sm-3.stat
      .data
        %span.number=@showings.count
        showings
      %span.date Today
    .col-md-3.col-sm-3.stat
      .data
        %span.number=@showings_this_week.count
        showings
      %span.date This week
    .col-md-3.col-sm-3.stat
      .data
        %span.number=@showings_this_month.count
        showings
      %span.date December 2014
    .col-md-3.col-sm-3.stat.last
      .data
        %span.number=@brokerage.users.count
        agents
      %span.date registered
      
.row
  .col-md-6
    .ibox
      .ibox-title
        %span.label.label-primary.pull-right Today
        %h5 Showing Requests Today
      .ibox-content
        %p
          These are requests that took place today
        #map-canvas.googmap_square
          .middle-box.text-center.animated.fadeInRightBig
            %h3.font-bold No showing requests yet
            .error-desc
              There have been no showing requests today. When your organization receives a foreign request, 
              it will ​be​ ​displayed on the map here
              %br/
        #today-showings-info-tmpl.hidden
          .contact-box
            .col-sm-4
              .text-center
                %img.img-circle.m-t-xs.img-responsive{src:"{{profile_img_url}}", width:110}
            .col-sm-8
              %h3
                %strong {{name}}
              %p
                %i.fa.fa-map-marker
                {{latlng}}
              %p{class:"{{show_warning}}"}
                %span.label.label-warning Non-Responsive
              %address
                %strong Address:
                %br/
                {{{address}}}
                %br/
                %abbr{:title => "Phone"} P:
                (123) 456-7890
              %dl
                %dt Consumer Name:
                %dd {{buyer_name}}
                %dt MLS Num:
                %dd {{mls_num}}
              %p
                %a{href:"{{details_link}}"}
                  View Extended Details
            .clearfix
  .col-md-6
    =render 'brokerage_dashboard/showings/rt_map'