#main-stats
  .row.stats-row
    .col-md-3.col-sm-3.stat
      .data
        %span.number 2457
        visits
      %span.date Today
    .col-md-3.col-sm-3.stat
      .data
        %span.number 3240
        users
      %span.date February 2013
    .col-md-3.col-sm-3.stat
      .data
        %span.number 322
        orders
      %span.date This week
    .col-md-3.col-sm-3.stat.last
      .data
        %span.number $2,340
        sales
      %span.date last 30 days
/ end upper main stats
#pad-wrapper
  / statistics chart built with jQuery Flot
  .row.chart
    .col-md-12
      %h4.clearfix.pull-left
        Statistics
      .btn-group.pull-right
        %button.glow.left DAY
        %button.glow.middle.active MONTH
        %button.glow.right YEAR
    .col-md-12
      #statsChart
  / end statistics chart
  / UI Elements section
  .row.section.ui-elements
    .col-md-12
      %h4 UI Elements
    .col-md-5.knobs
      .knob-wrapper
        %input.knob{"data-bgcolor" => "#d4ecfd", "data-fgcolor" => "#30a1ec", "data-inputcolor" => "#333", "data-thickness" => ".3", "data-width" => "150", :type => "text", :value => "50"}/
        .info
          .param
            %span.line.blue
            Active users
      .knob-wrapper
        %input.knob.second{"data-bgcolor" => "#d4ecfd", "data-fgcolor" => "#3d88ba", "data-inputcolor" => "#333", "data-thickness" => ".3", "data-width" => "150", :type => "text", :value => "75"}/
        .info
          .param
            %span.line.blue
            \% disk space usage
    .col-md-6.showcase
      .ui-sliders
        .slider.slider-sample1.vertical-handler
        .slider.slider-sample2
        .slider.slider-sample3
      .ui-group
        %a.btn-flat.inverse Large Button
        %a.btn-flat.gray Large Button
        %a.btn-flat.default Large Button
        %a.btn-flat.primary Large Button
      .ui-group
        %a.btn-flat.icon
          %i.tool
          Icon button
        %a.btn-glow.small.inverse
          %i.shuffle
        %a.btn-glow.small.primary
          %i.setting
        %a.btn-glow.small.default
          %i.attach
        .ui-select
          %select
            %option{:selected => "selected"} Dropdown
            %option Custom selects
            %option Pure css styles
        .btn-group
          %button.glow.left LEFT
          %button.glow.right RIGHT
  / end UI elements section
  / table sample
  / the script for the toggle all checkboxes from header is located in js/theme.js
  .table-products.section
    .row.head
      .col-md-12
        %h4
          Products
          %small Table sample
    .row.filter-block
      .col-md-8.col-md-offset-5
        .ui-select
          %select
            %option Filter users
            %option Signed last 30 days
            %option Active users
        %input.search{:type => "text"}/
        %a.btn-flat.new-product + Add product
    .row
      %table.table.table-hover
        %thead
          %tr
            %th.col-md-3
              %input{:type => "checkbox"}/
              Product
            %th.col-md-3
              %span.line>
              Description
            %th.col-md-3
              %span.line>
              Status
        %tbody
          / row
          %tr.first
            %td
              %input{:type => "checkbox"}/
              .img
                =image_tag("dashboard/table-img.png")
              %a{:href => "#"} There are many variations
            %td.description
              if you are going to use a passage of Lorem Ipsum.
            %td
              %span.label.label-success Active
              %ul.actions
                %li
                  %i.table-edit
                %li
                  %i.table-settings
                %li.last
                  %i.table-delete
          / row
          %tr
            %td
              %input{:type => "checkbox"}/
              .img
                =image_tag("dashboard/table-img.png")
              %a{:href => "#"} Internet tend
            %td.description
              There are many variations of passages.
            %td
              %ul.actions
                %li
                  %i.table-edit
                %li
                  %i.table-settings
                %li.last
                  %i.table-delete
          / row
          %tr
            %td
              %input{:type => "checkbox"}/
              .img
                =image_tag("dashboard/table-img.png")
              %a{:href => "#"} Many desktop publishing
            %td.description
              if you are going to use a passage of Lorem Ipsum.
            %td
              %ul.actions
                %li
                  %i.table-edit
                %li
                  %i.table-settings
                %li.last
                  %i.table-delete
          / row
          %tr
            %td
              %input{:type => "checkbox"}/
              .img
                =image_tag("dashboard/table-img.png")
              %a{:href => "#"} Generate Lorem
            %td.description
              There are many variations of passages.
            %td
              %span.label.label-info Standby
              %ul.actions
                %li
                  %i.table-edit
                %li
                  %i.table-settings
                %li.last
                  %i.table-delete
          / row
          %tr
            %td
              %input{:type => "checkbox"}/
              .img
                =image_tag("dashboard/table-img.png")
              %a{:href => "#"} Internet tend
            %td.description
              There are many variations of passages.
            %td
              %ul.actions
                %li
                  %i.table-edit
                %li
                  %i.table-settings
                %li.last
                  %i.table-delete
    %ul.pagination
      %li
        %a{:href => "#"} «
      %li.active
        %a{:href => "#"} 1
      %li
        %a{:href => "#"} 2
      %li
        %a{:href => "#"} 3
      %li
        %a{:href => "#"} 4
      %li
        %a{:href => "#"} »
  / end table sample
  / scripts

:javascript
  $(function () {

      // jQuery Knobs
      $(".knob").knob();



      // jQuery UI Sliders
      $(".slider-sample1").slider({
          value: 100,
          min: 1,
          max: 500
      });
      $(".slider-sample2").slider({
          range: "min",
          value: 130,
          min: 1,
          max: 500
      });
      $(".slider-sample3").slider({
          range: true,
          min: 0,
          max: 500,
          values: [ 40, 170 ],
      });

      

      // jQuery Flot Chart
      var visits = [[1, 50], [2, 40], [3, 45], [4, 23],[5, 55],[6, 65],[7, 61],[8, 70],[9, 65],[10, 75],[11, 57],[12, 59]];
      var visitors = [[1, 25], [2, 50], [3, 23], [4, 48],[5, 38],[6, 40],[7, 47],[8, 55],[9, 43],[10,50],[11,47],[12, 39]];

      var plot = $.plot($("#statsChart"),
          [ { data: visits, label: "Signups"},
           { data: visitors, label: "Visits" }], {
              series: {
                  lines: { show: true,
                          lineWidth: 1,
                          fill: true, 
                          fillColor: { colors: [ { opacity: 0.1 }, { opacity: 0.13 } ] }
                       },
                  points: { show: true, 
                           lineWidth: 2,
                           radius: 3
                       },
                  shadowSize: 0,
                  stack: true
              },
              grid: { hoverable: true, 
                     clickable: true, 
                     tickColor: "#f9f9f9",
                     borderWidth: 0
                  },
              legend: {
                      // show: false
                      labelBoxBorderColor: "#fff"
                  },  
              colors: ["#a7b5c5", "#30a0eb"],
              xaxis: {
                  ticks: [[1, "JAN"], [2, "FEB"], [3, "MAR"], [4,"APR"], [5,"MAY"], [6,"JUN"], 
                         [7,"JUL"], [8,"AUG"], [9,"SEP"], [10,"OCT"], [11,"NOV"], [12,"DEC"]],
                  font: {
                      size: 12,
                      family: "Open Sans, Arial",
                      variant: "small-caps",
                      color: "#697695"
                  }
              },
              yaxis: {
                  ticks:3, 
                  tickDecimals: 0,
                  font: {size:12, color: "#9da3a9"}
              }
           });

      function showTooltip(x, y, contents) {
          $('<div id="tooltip">' + contents + '</div>').css( {
              position: 'absolute',
              display: 'none',
              top: y - 30,
              left: x - 50,
              color: "#fff",
              padding: '2px 5px',
              'border-radius': '6px',
              'background-color': '#000',
              opacity: 0.80
          }).appendTo("body").fadeIn(200);
      }

      var previousPoint = null;
      $("#statsChart").bind("plothover", function (event, pos, item) {
          if (item) {
              if (previousPoint != item.dataIndex) {
                  previousPoint = item.dataIndex;

                  $("#tooltip").remove();
                  var x = item.datapoint[0].toFixed(0),
                      y = item.datapoint[1].toFixed(0);

                  var month = item.series.xaxis.ticks[item.dataIndex].label;

                  showTooltip(item.pageX, item.pageY,
                              item.series.label + " of " + month + ": " + y);
              }
          }
          else {
              $("#tooltip").remove();
              previousPoint = null;
          }
      });
  });