.intro
  %h5
    %a#user-content-agents-request-optional.anchor{"aria-hidden" => "true", :href => "#agents-request-optional"}>
      %span.octicon.octicon-link
    Agents Request (Optional)
  %p This API will return live agents ordered by distance from the target property.
  %p
    %strong Request
    GET
    %code /api/v3/agents?lat=x&lng=y&radius=10

%h4.example Query Parameters
%table.params
  %tbody
    %tr
      %td
        lat
        %span.required required
      %td float
      %td
        GPS latitude, exmaple value: 32.747575
    %tr
      %td
        lon
        %span.required required
      %td float
      %td GPS longitude, exmaple value: -117.1323579
    %tr
      %td
        radius
        %span.required optional
      %td integer
      %td parameter specifying the maximum radius (miles) from the origin you want to search. Example: 5

%h4.example Example Request
%pre.curl.example
  :preserve
    curl -vH "Authorization: Token token=785f4ddb1f372bf57d87f2fe1128d5f40f31451a" 'https://curbcalldev.herokuapp.com/api/v3/agents/find?lat=32.1234&lng=117.1234&radius=5'

%p
  %strong Response
%pre
  %code
    :preserve
      [
          {
              "id": 7771,
              "name": "Agent Name",
              "lat": 1,
              "lon": 2,
              "phone": "8182539344",
              "company": "Qualcomm",
              "created_at": "2015-03-19T02:24:13.634Z",
              "updated_at": "2015-03-19T02:24:13.634Z",
              "user_id": 29111,
              "email": "agent1@curbcallapp.com",
              "image": null,
              "bio": null,
              "showing_rating": 2,
              "showing_feedback_count": 2,
              "nice_rating": null,
              "nice_rating_count": null,
              "brokerage_id": null,
              "dev_token": null,
              "num_showings": 0,
              "status": "status",
              "mls": "16147"
          }
      ]
%p The client can then use this information to build a UI where the user can choose the agent with whom they want to work. The client must then use this agent_id in the Request Showing post request above to try to start the showing w/ the selected agent.
%p
  %strong Error Responses
%p Status Code: 409
%pre
  %code
    :preserve
      {
          "errors": [
              "Could not find any agents"
          ]
      }
