.intro
  %h5 Curb Call API Authentication
  %p Authentication with Curb Call is the first step in building your app.
  %p Users of the CC API, must register their app to receive an API key. When you register an app you will get 2 keys: live & sandbox. The live key will make requests against live curb call agents while sandbox is for testing and won't reach real agents.
%h5 Getting Started
%p
  All of the Curb Call API endpoints require authentication. To get an access_token you must first
  = succeed "." do
    =link_to "register an application here", new_developers_app_path


%h5 Using The Token
%p All requests to the Curb Call API must be made using HTTPS, with the access token provided in the HTTP Authorization header, request body or query string. For example, using the query string:
%h4.example Example Request
%pre.curl.example
  curl -IH "Authorization: Token token=785f4ddb1f372bf57d87f2fe1128d5f40f31451a" http://curbcall.com/api/v3/agents/find?lat=32.7449015&lng=-117.1323579&radius=5

%h5 Curb Call Showing Lifecycle
%ol.task-list
  %li Request an on-demand showing from Curb Call Service (Optionally, choose the agent you want)
  %li Poll the showing url to get updates on the showing
  %li
    The showing state will transition to
    %code transit
    when the agent is driving
  %li
    The showing state will transition to
    %code started
    when the agent arrives
  %li Agent ends the showing


%h5 Adding Mobile-App-Using Real Estate Agents to Your Team
%p You can create new mobile app accounts for your agent team on the brokerage dashboard OR you can optionally use this api endpoint
%h4.example Example Request
%pre.curl.example
  %code
    :preserve
      curl -X POST -H "Authorization: Token token=3dd9125125cf8c442fbd88c8589c8268b0e4a5e0" -H "Content-Type: application/json" -H "Cache-Control: no-cache" -H "Postman-Token: c56f6077-1d12-6b5a-e3a0-df77dee937d1" -d '{
        "user":{
            "email_address":"ourtestadd1@curbcall.com",
            "brokerage_id":6
        },
        "disable_welcome_email":true
      }' "https://curbcalldev.herokuapp.com/users.json"
%p
  %strong Response
%pre
  %code
    :preserve
    {
      "id": 19,
      "email": "ourtestadd1@curbcall.com",
      "created_at": "2016-08-25T20:07:57.195Z",
      "updated_at": "2016-08-25T20:07:57.216Z",
      "brokerage_id": 6,
      "temporary_password": "pm6kz123"
    }
