.intro
  %h5 The Curb Call API
  %p
    The Curb call API provides access to real-time showings with live agents.
  %p
    To get started,
    =link_to "create an app", new_developers_app_path

%h5 Endpoints
%p
  All currently available endpoints are listed in this documentation. If you have ideas for further things you would like to see in the Curb call API, please contact
  %a{:href => "mailto:hello@curbcall.com"} hello@curbcall.com
  \- we will probably build them!
%p But be sure to set the HTTP Content-Type header to "application/json" for your requests if you are writing your own client.
%h5 Rate Limits
%p The Curb call API is rate limited to 60 authenticated requests per user per minute. If you make more than 60 requests within a 60 seconds window period, you will receive a HTTP code 429 response.
%p If you have a need for a higher rate limit, please get touch so that we can try and help out.
%h5 Response Formats
%p All requests to the Curb call API must end with the desired response format. Currently the only available response format is JSON and responses are of type application/json.

%h4.example Example Request
%pre.curl.example
  :preserve
    curl -IH "Authorization: Token token=785f4ddb1f372bf57d87f2fe1128d5f40f31451a" http://curbcalldev.com/api/v3/agents/find?lat=32.7449015&lng=-117.1323579&radius=5
%h5 Questions & Problems
%p
  If you have any issues using the Curb call API you can contact us by emailing
  %a{:href => "mailto:hello@curbcall.com"} hello@curbcall.com
  or give us a shout over on twitter
  %a{:href => "http://twitter.com/curbcallapp"} @curbcallapp
  \- we'll get back to you fast!
