.intro
  %h5 Curb Call API Reporting
  %p Get reports for agent and contact-request activity for your organization.
%h5 Getting Reports
%p All requests to the reporting API require a date range and authentication token
%p
  %strong Request
  GET
  %code /api/v3/organization/showing_report.json
%h4.example Query Parameters
%table.params
  %tbody
    %tr
      %td
        start_date
        %span.required required
      %td float
      %td
        Start Date of reports, exmaple value: 2015-02-02
    %tr
      %td
        end_date
        %span.required required
      %td float
      %td End Date of reports, exmaple value: 2017-02-02
%h4.example Example Request
%pre.curl.example
  curl -X GET -H "Authorization: Token token=3dd9125125cf8c442fbd88c8589c8268b0e4a5e0" -H "Cache-Control: no-cache" -H "Postman-Token: 6b859e08-b9ec-45fd-4a81-8ad286c52d67" "https://curbcalldev.herokuapp.com/api/v3/organization/showing_report.json?start_date=2015-02-02&end_date=2017-02-02"
%p
  %strong Response
%pre
  %code
    :preserve
      {
        "request": {
          "name": "example.com",
          "start_date": "2015-02-02",
          "end_date": "2017-02-02"
        },
        "agents_length_time": [
          {
            "id": null,
            "user_id": 14,
            "user_email": "agent1@curbcall.com",
            "length": "4 days 11:22:01.124067"
          },
          {
            "id": null,
            "user_id": 15,
            "user_email": "agent2@curbcall.com",
            "length": "00:01:33.635029"
          }
        ],
        "total_showings": 12,
        "total_showings_expired": 0,
        "total_claimed_showings": 0,
        "agents_notified": [
          {
            "id": null,
            "user_id": 14,
            "user_email": "agent1@curbcall.com",
            "total_request": 0
          },
          {
            "id": null,
            "user_id": 15,
            "user_email": "agent2@curbcall.com",
            "total_request": 0
          }
        ]
      }
