.intro
  %h5 Showing Request
  %p
    Use this API to begin an on-demand showing. We will attempt to connect you with any available agents. Agents will have 2 minutes to accept the showing. After the 2 minute timeout, the request will return a
    %code timeout
    status. You can check the status of a showing by polling the
    %code Showing
    endpoint w/ the showing id returned from the initial request. e.g.:
    = succeed "." do
      %code https://curbcalldev.herokuapp.com/api/v3/showings:id
  %p
    Optionally, you can select an agent to use for the showing by using the Agent Request API below and passing in the parameter to this POST request, e.g.
    = succeed "." do
      %code {agent_id: id}
    %code agent_id
    is specified the default behavior is to auto-select an agent.
  %p See the below example on how start the showing request and how to poll the status url:
%p
  %strong Example Showing Lifecycle
%p
  (Agent Client) Agent "Goes Available"
  %br
  (Dev Client) API Dev-Client creates a showing.
  %br
  (Server) Gets all available agents
  %br
  (Server) Send PUSH to agents (w/ showing id)
  %br
  (Server) Transition Showing state to waiting
  %br
  (Agent Client) POST to api/v3/showings/:id/claim
  %br
  (Server) Associate agent w/ showing
  %br
  (Agent Client) Start Showing POST api/v3/showings/:id/start
  %br
  (Agent Client) Update agent state (panic/safe) PUT api/v3/showings/:id/
  %br
  (Agent Client) End Showing POST api/v3/showings/:id/end
  %br
%p
%p
  %strong Request
%p
  POST
  %code /api/v3/showings/

%h4.example Post Parameters
%table.params
  %tbody
    %tr
      %td
        lat
        %span.required required
      %td float
      %td
        GPS latitude, exmaple value: 32.747575
    %tr
      %td
        lon
        %span.required required
      %td float
      %td GPS longitude, exmaple value: -117.1323579
    %tr
      %td
        radius
        %span.required optional
      %td integer
      %td parameter specifying the maximum radius (miles) from the origin you want to search. Example: 5
    %tr
      %td
        agent_id
        %span.required optional
      %td integer
      %td (Optional) Select a specific agent
    %tr
      %td
        buyer_name
        %span.required optional
      %td string
      %td (Optional) Name of buyer
    %tr
      %td
        buyer_phone
        %span.required optional
      %td string
      %td (Optional) Phone number of buyer
    %tr
      %td
        address
        %span.required optional
      %td string
      %td (Optional) Address of listing of interest
    %tr
      %td
        hood
        %span.required optional
      %td string
      %td (Optional) Neighborhood of Interest
    %tr
      %td
        status
        %span.required required
      %td string
      %td required (use value of `waiting` by default)
    %tr
      %td
        agent_state
        %span.required required
      %td string
      %td required (use value of `safe` by default)

%h4.example Example Request
%pre.curl.example
  :preserve
    curl -X POST -H "Authorization: Token token=3dd9125125cf8c442fbd88c8589c8268b0e4a5e0" -H "Cache-Control: no-cache" -H "Postman-Token: d13d78c4-acab-99e5-9398-3be0035be563" "https://curbcalldev.herokuapp.com/api/v3/showings.json?lat=32.7426452636719&lng=-117.164747983671&radius=50&buyer_name=Sandy%20Van%20Buyer&buyer_phone=858-555-5555&address=3568%20Front%20St,%20San%20Diego,%20CA&hood=Hillcrest&status=waiting&agent_state=safe"

%p
  %strong RESPONSE
%p Status-Code: 201 Created
%pre
  %code
    :preserve
    {
    "id": 17,
    "lead_id": null,
    "address": "3568 Front St, San Diego, CA",
    "buyer_name": "Sandy Van Buyer",
    "agent_name": "Mary McSandbox",
    "buyer_id": null,
    "created_at": "2016-07-18T21:35:01.647Z",
    "updated_at": "2016-07-18T21:35:26.516Z",
    "status": "transit",
    "mls_num": null,
    "agent_state": "safe",
    "showing_owner_id": 12,
    "showing_owner_type": null,
    "lat": 32.7426452636719,
    "lng": -117.164747983671,
    "brokerage_id": 4,
    "hood": "Hillcrest",
    "photo_url": null,
    "address_two": null,
    "list_price": null,
    "notes": null,
    "buyer_phone": "858-555-5555",
    "buyer_email": null
  }
%p
  This request will cause system to search for an agent that is available to service the request. Any available agents have a time limit of 2 minutes to accept the showing request. To check the status of the request you must query the URL in the
  %code Location
  header of the response.
%p
  %strong ERROR RESPONSES
%p Status-Code: 422 Invalid Request
%pre
  %code
    :preserve
      {
         "errors":[
            "unkown error"
         ]
      }
%p Information on how to poll the status URL is below:


%h5
  %a#user-content-showing-request-status.anchor{"aria-hidden" => "true", :href => "#showing-request-status"}>
    %span.octicon.octicon-link
  Showing Request Status
%p
  Once an agent accepts the request, the status will turn to
  %code {status:transit}
  param and a showing
  %code {showing_url:xxx}
  will be in the response. If the request timeout elapses (meaning no agents accepted the request, or none are available), you will get a expired status
  %code {status:expired}
  and the failure details. You must query the
  %code showing_url
  to get the showing information. At this point the agent is on the way to the showing location. The client should query the showing API to get the information about the new showing that has begun:
%p
  %strong Request
  GET
  %code /api/v3/showings/:id
%p
  %strong Response
%pre
  %code
    :preserve
    {
      "id": 17,
      "lead_id": null,
      "address": "3568 Front St, San Diego, CA",
      "buyer_name": "Sandy Van Buyer",
      "agent_name": "Mary McSandbox",
      "buyer_id": null,
      "created_at": "2016-07-18T21:35:01.647Z",
      "updated_at": "2016-07-18T21:35:26.516Z",
      "status": "transit",
      "mls_num": null,
      "agent_state": "safe",
      "showing_owner_id": 12,
      "showing_owner_type": null,
      "lat": 32.7426452636719,
      "lng": -117.164747983671,
      "brokerage_id": 4,
      "hood": "Hillcrest",
      "photo_url": null,
      "address_two": null,
      "list_price": null,
      "notes": null,
      "buyer_phone": "858-555-5555",
      "buyer_email": null
    }

%p Using information from the showing response, you can populate the UI w/ information about the agent the buyer is about to meet. For example, show an image and the phone number of the agent.
