<style>
	html, .login-bg {
		background: #b6d6df;
	}
</style>
<div class="content_page">
	<%= image_tag "pages/ic_mail_outline_black_24dp_2x.png", height: 100 %>
	<h2>Check your Email!</h2>
	<%= link_to 'Back', new_user_password_path %>
</div>