<style>
	html, .login-bg {
		background: #b6d6df;
	}
</style>
<div class="content_page">
	<%= image_tag "pages/ic_done_black_24dp_2x.png", height: 100 %>
	<h2>Your password was changed!</h2>
	<p>Sign in using your Android or iOS App.</p>
</div>