.row.form-wrapper
  / left column
  .col-md-9.with-sidebar
    = form_for [:admin, @setting], html: { class: "form-horizontal"} do |f|
      - if @setting.errors.any?
        #error_explanation
          %h2= "#{pluralize(@setting.errors.count, "error")} prohibited this setting from being saved:"
          %ul
            - @setting.errors.full_messages.each do |msg|
              %li= msg
      
      .form-group
        %label.col-md-2.control-label{:for => "inputName1"}=@setting.key
        .col-md-8
          =f.text_field :val, class: "form-control",:placeholder => "Value", :type => "text"


      .form-group
        .col-md-offset-2.col-md-8
          = f.submit 'Save', class: "btn-glow primary"
