.table-wrapper.products-table.section
  .row.head
    .col-md-12
      %h4 Global App Settigns
  .row.filter-block
    .pull-right
      %a.btn-flat.success.new-product + Add setting
  .row
    %table.table.table-hover
      %thead
        %tr
          %th.col-md-3
            %input{:type => "checkbox"}/
            Key
          %th.col-md-3
            %span.line>
            Value
          %th.col-md-3
      %tbody
        -@settings.each do |k,v|
          %tr
            %td
              %input{:type => "checkbox"}/
              %a.name{:href => "#"}=k
            %td.description=v
            %td
              %ul.actions
                %li
                  =link_to "Edit", edit_admin_setting_path(k) 
                %li.last
                  %a{:href => "#"} Delete
