= form_for @showing do |f|
  - if @showing.errors.any?
    #error_explanation
      %h2= "#{pluralize(@showing.errors.count, "error")} prohibited this showing from being saved:"
      %ul
        - @showing.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :agent
    = f.text_field :agent
  .field
    = f.label :lead
    = f.text_field :lead
  .field
    = f.label :address
    = f.text_field :address
  .field
    = f.label :buyer_name
    = f.text_field :buyer_name
  .field
    = f.label :agent_name
    = f.text_field :agent_name
  .field
    = f.label :buyer_id
    = f.text_field :buyer_id
  .field
    = f.label :status
    = f.text_field :status
  .field
    = f.label :mls_num
    = f.text_field :mls_num
  .actions
    = f.submit 'Save'
