.ibox
  .ibox-title
    %h5 Real-time Showing Map
  .ibox-content
    %p
      This map shows all showings that are currently in progress. Sightings on the real-time map are updated every 5 minutes.
    #rt-map-canvas.googmap_square
      .middle-box.text-center.animated.fadeInRightBig
        %h3.font-bold No showings yet
        .error-desc
          There have been no showings today using Curb Call. When one of your agents finishes a showing
          it will show up on the map here.
          %br/
    
#info-tmpl.hidden
  .contact-box
    .col-sm-3
      .text-center
        %img.img-circle.m-t-xs.img-responsive{src:"{{profile_img_url}}", width:110}
    .col-sm-8
      %h3
        %strong {{name}}
      %p
        %i.fa.fa-map-marker
        {{latlng}}
      %p{class:"{{show_warning}}"}
        %span.label.label-warning Non-Responsive
      %p
        %strong Last Contact: 
        %span {{last_sighting_elapsed}}
      %address
        %strong Elapsed Time: {{elapsed}}
        %br/
        {{{address}}}
        %br/
        %abbr{:title => "Phone"} P:
        (123) 456-7890
      %dl
        %dt Consumer Name:
        %dd {{buyer_name}}
        %dt MLS Num:
        %dd {{mls_num}}
      %p
        %a{href:"{{details_link}}"}
          View Extended Details
    .clearfix
    
:javascript
  var showings = []
  showings = #{@active_showings.to_json({include: {sightings:{}, showing_owner:{include: :profile}}, methods:[:time_length] }) }