.table-wrapper.orders-table.section
  .row.head
    .col-md-12
      %h4 Showings
  .row.filter-block
    .pull-right
      .btn-group.pull-right
        %button.glow.left.large{:onclick=>"all_showings()"} All
        %button.glow.middle.large{:onclick=>"pending_showings()"} Pending
        %button.glow.right.large{:onclick=>"completed_showings()"} Completed
      %input.search.order-search{:placeholder => "Search for an showing..", :type => "text", :onkeydown => "search_showings(event)", :value=>@search}/
  .row
    %table.table.table-hover
      %thead
        %tr
          %th.col-md-1
            Showing ID
          %th.col-md-1
            %span.line
            Date
          %th.col-md-1
            %span.line
            Consumer
          %th.col-md-1
            %span.line
            Consumer Email
          %th.col-md-2
            %span.line
            Property Address
          %th.col-md-1
            %span.line
            Agent
          %th.col-md-1
            %span.line
            Latitude
          %th.col-md-1
            %span.line
            Longitude
          %th.col-md-1
            %span.line
            Duration
          %th.col-md-1
            %span.line
            Showing State
      %tbody
        / row
        - @showings.each do |showing|
          %tr
            %td
              =link_to "##{showing.id}", brokerage_dashboard_showing_path(showing)
            %td=showing.created_at.strftime("%a %b %d %Y")
            %td=showing.buyer_name
            %td=showing.buyer_email
            %td=showing.address
            %td=showing.agent_name_completed_with_email
            %td=showing.lat
            %td=showing.lng
            %td="#{showing.time_length.to_i} Minutes"
            %td
              %span{class:"label label-#{badge_helper_showing(showing.status.to_s)}", style: "font-weight: bold"}
                =showing.status.to_s
  = paginate @showings
  
:javascript
  var url = "#{brokerage_dashboard_user_showings_path(current_user)}?page=0";
  
  function params_showings(){
    return "&search=" + $(".search.order-search").val();
  }
  
  function general_showings(extra_params){
    extra_params = (extra_params==null || extra_params== undefined) ? '' : extra_params;
    document.location.href = url + params_showings() + extra_params;
  }
  
  function all_showings(){
    general_showings('');
  }
  
  function pending_showings(){
    general_showings("&status_state_search=waiting");
  }
  
  function completed_showings(){
    general_showings("&status_state_search=completed");
  }
  
  function search_showings(event){
    if (event.keyCode == 13)
      general_showings();
  }