%script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyAJfjOMKoBPVPs7u4wdrlhsUlcvsDKsUhE", :type => "text/javascript"}

.row
  .col-md-6
    =render 'rt_map'
  .col-md-6
    .ibox
      .ibox-title
        %h5 Showings Details
      .ibox-content
        %p
          %b Active Showings:
          =@active_showings.count



%p#notice= notice



:javascript
  var page_id = "showings#real_time"