  
.asdf
  %h1
    Listings demo map
#map-canvas

:css
  #map-canvas { height: 700px; margin: 0; padding: 0;}
%script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyAJfjOMKoBPVPs7u4wdrlhsUlcvsDKsUhE&libraries=geometry", :type => "text/javascript"}

  :cdata
:javascript
  var points = #{@sightings.to_json}
:javascript
  function initialize() {
    var mapOptions = {
      center: { lat: 32.7451599752403, lng: -117.137919347596},
      zoom: 8
    };
    var map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);
    
    var flightPlanCoordinates=[];
    for (i=0; i<points.length; i++)
    {
      flightPlanCoordinates.push(new google.maps.LatLng(points[i]['lat'], points[i]['lon']));
    }
    
    var flightPath = new google.maps.Polyline({
      path: flightPlanCoordinates,
      geodesic: true,
      strokeColor: '#FF0000',
      strokeOpacity: 1.0,
      strokeWeight: 2
    });
    
    flightPath.setMap(map);
  }
  google.maps.event.addDomListener(window, 'load', initialize);
