<style>
	html {
		background: #b6d6df!important;
	}
</style>

<div id="content_change_password" class="content_devise">
	<h2 class="title">Change your password</h2>

	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  		<%= devise_error_messages! %>
  		<%= f.hidden_field :reset_password_token %>

  		<div class="field">
  			<div class="content_for" align="left">
    			<%= f.label :password, "New password" %>
    		</div>
    		<div class="content_for" align="left">
    			<%= f.password_field :password, autofocus: true, autocomplete: "off" %>
    		</div>
  		</div>
  		
  		<br/>

  		<div class="field">
    		<%= f.label :password_confirmation, "Confirm new password" %>
    		<%= f.password_field :password_confirmation, autocomplete: "off" %>
  		</div>

  		<div class="actions">
    		<%= f.submit "Change my password" %>
  		</div>
	<% end %>
</div>
