<style>
	html {
		background: #b6d6df!important;
	}
</style>

<div class="content_devise">
	<h2 class="title">Forgot your password?</h2>

	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  		<%= devise_error_messages! %>

  		<div class="field">
    		<%= f.label :email %>
    		<%= f.email_field :email, autofocus: true %>
  		</div>

  		<div class="actions">
    		<%= f.submit "Send me reset password instructions" %>
  		</div>
	<% end %>
</div>
