#map-canvas

:css
  #map-canvas { height: 700px; margin: 0; padding: 0;}
%script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyAJfjOMKoBPVPs7u4wdrlhsUlcvsDKsUhE", :type => "text/javascript"}




  :cdata
:javascript
  var page_id = "mls#map"
  var points = #{@listings.to_json}
