.row.hero.developers
  %h1
    We
    Love
    Developers
  %p.lead Let your users stay safe and connect with nearby home buyers looking for an immediate showing.
  %a.large.blue.button{:href => "/developers/api"} Get Started

/
  <div class="row no-border full-width intro">
  <div class="share-counter sprite">
  <span id="updates_today">327010        </span>
  </div>
  <h6>
  items shared in the last 24 hours via <span>Buffer</span>
  </h6>
  </div>
.row.no-border.developers
  .col-md-6
    %h5 Never miss a lead again
    %p While you're on any showing (even ones that are not Curb Call leads), you can rest assured that someone knows where you are. Your status of "On a showing" and current location are plotted on your brokerage's Curb Call dashboard.
    %p
      %a{:href => "http://curbcall.com"} Curb Call for your website →
  .col-md-6
    %h5 Checkout the new Safety Radius Features
    %p If you unexpectedly leave your showing (possibly against your will), the Curb Call RADIUS system will automatically trigger an emergency alert to your broker and your emergency contact.
    %p
      %a{:href => "/developers/api"} Get started with our API →
