// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.flash_notice, .flash_alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.flash_notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.flash_alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}


/* Beacon
********************************** */

.beacon {
  position: relative;
  height: 20px;
  display: inline-block;
}

.beacon .dot {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 10px;
  height: 10px;
  background-color: #80002d;
  border-radius: 10px;
  box-shadow: 0 0 9px #666;
  -moz-box-shadow: 0 0 9px #666;
  -webkit-box-shadow: 0 0 9px #666;
  border: 3px solid transparent;
  z-index: 10;
}

.beacon .dot.pulse {
  -webkit-animation: beacon-dot-pulse 1s ease-out;
  -moz-animation: beacon-dot-pulse 1s ease-out;
  animation: beacon-dot-pulse 1s ease-out;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes beacon-dot-pulse {
  from {
    background-color: #80002d;
    -webkit-box-shadow: 0 0 9px #666;
    -moz-box-shadow: 0 0 9px #666;
    box-shadow: 0 0 9px #666;
  }
  50% {
    background-color: #c90047;
    -webkit-box-shadow: 0 0 18px #666;
    -moz-box-shadow: 0 0 18px #666;
    box-shadow: 0 0 18px #666;
  }
  to {
    background-color: #80002d;
    -webkit-box-shadow: 0 0 9px #666;
    -moz-box-shadow: 0 0 9px #666;
    box-shadow: 0 0 9px #666;
  }
}

@-moz-keyframes beacon-dot-pulse {
  from {
    background-color: #80002d;
    -webkit-box-shadow: 0 0 9px #666;
    -moz-box-shadow: 0 0 9px #666;
    box-shadow: 0 0 9px #666;
  }
  50% {
    background-color: #c90047;
    -webkit-box-shadow: 0 0 18px #666;
    -moz-box-shadow: 0 0 18px #666;
    box-shadow: 0 0 18px #666;
  }
  to {
    background-color: #80002d;
    -webkit-box-shadow: 0 0 9px #666;
    -moz-box-shadow: 0 0 9px #666;
    box-shadow: 0 0 9px #666;
  }
}

@keyframes beacon-dot-pulse {
  from {
    background-color: #80002d;
    -webkit-box-shadow: 0 0 9px #666;
    -moz-box-shadow: 0 0 9px #666;
    box-shadow: 0 0 9px #666;
  }
  50% {
    background-color: #c90047;
    -webkit-box-shadow: 0 0 18px #666;
    -moz-box-shadow: 0 0 18px #666;
    box-shadow: 0 0 18px #666;
  }
  to {
    background-color: #80002d;
    -webkit-box-shadow: 0 0 9px #666;
    -moz-box-shadow: 0 0 9px #666;
    box-shadow: 0 0 9px #666;
  }
}

.beacon .ring {
  position: absolute;
  top: 7px;
  left: 12px;
  width: 0;
  height: 0;
  border-radius: 3px;
  border: 3px solid #80002d;
  z-index: 5;
}

.beacon .ring.pulse {
  -webkit-animation: beacon-ring-pulse 1s;
  -moz-animation: beacon-ring-pulse 1s;
  animation: beacon-ring-pulse 1s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes beacon-ring-pulse {
  0% {
      opacity: 1;
      -webkit-transform: scale(0);
  }
  100% {
      opacity: 0;
      border-radius: 15px;
      padding: 8px;
      top: 0;
      left: 4px;
      -webkit-transform: scale(1.5);
  }
}

@-moz-keyframes beacon-ring-pulse {
  0% {
      opacity: 1;
      -moz-transform: scale(0);
  }
  100% {
      opacity: 0;
      border-radius: 15px;
      padding: 8px;
      top: 2px;
      left: 7px;
      -moz-transform: scale(1.6);
  }
}

@keyframes beacon-ring-pulse {
  0% {
      opacity: 1;
      transform: scale(0);
  }
  100% {
      opacity: 0;
      border-radius: 15px;
      padding: 8px;
      top: 0;
      left: 5px;
      transform: scale(1.5);
  }
}

