/*General Style*/
.title {
	font-size: 20px;
}

.content_devise {
	width: 100%;
	height: 100%;
	padding-left: 5px!important;
	padding-right: 5px!important;
	text-align: center;
	background-color: #b6d6df;
	
	h2 {
		margin: 30px 0 20px;
	}
	
	form {
		
		#error_explanation {
			width: 30%;
			margin: 0 auto;
			padding-left: 30px;
			padding-right: 30px;
			text-align: left;
			
			h2 {
				font-size: 15px;
				font-weight: bold;
			}
			
			h2, li {
				color: red;
			}
		}
		
		.field {
			background: white;
			border-radius: 10px;
			margin: 10px;
			padding: 10px;
			padding-left: 15px;
			padding-right: 15px;
			display: inline-block;
			
			.content_for {
				width: 40%;
				display: inline-block;
			}
			
			.field_with_errors {
				display: inline-block;
			}
			
			label {
				padding-right: 15px;
				color: #007094;
			}
			 
			input {
				border: solid #B6B6B6;
				border-radius: 5px;
			}
			
			.button, button, input[type=button], input[type=reset], input[type=submit] {
				
			}
		}
		
		.actions > input {
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #fff));
			background: -webkit-linear-gradient(top, #fff 0, #fff 100%);
			background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
			background: linear-gradient(top, #fff 0, #fff 100%);
			font-size: 14px;
			font-weight: 400;
			font-family: "Open Sans",Helvetica,Arial,sans-serif;
			text-decoration: none;
			line-height: 21px;
			text-shadow: none;
			margin-bottom: 20px;
			padding: 8px 20px;
			display: inline-block;
			cursor: pointer;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-webkit-box-shadow: none;
			box-shadow: none;
			border: 1px solid #ced7df;
			border-radius: 3px;
			position: relative;
			top: 0;
			background: #007094;
			border-radius: 10px;
			color: white;
		}
	}
}
/*General Style*/

/*Change Password*/
#content_change_password {
	form .field {
		min-width: 28%;
	}
}
/*Change Password*/