.row.form-wrapper
  / left column
  .col-md-9.with-sidebar
    = form_for [:admin, @brokerage], html: { class: "form-horizontal"} do |f|
      - if @brokerage.errors.any?
        #error_explanation
          %h2= "#{pluralize(@brokerage.errors.count, "error")} prohibited this setting from being saved:"
          %ul
            - @brokerage.errors.full_messages.each do |msg|
              %li= msg
      
      .form-group
        %label.col-md-2.control-label{:for => "inputName1"}= "Name"
        .col-md-8
          =f.text_field :name, class: "form-control",:placeholder => "Value", :type => "text"
          
      #pad-wrapper.new-user{:style=>"margin: 15px;"}
        .row.header{:style=>"margin-bottom: 0px;"}
          .col-md-12
            %h3 Default Agent
          .row.form-wrapper{:style=>"margin-bottom: 0px;"}
            / left column
            .col-md-9.with-sidebar
              = f.fields_for :users, @default_agent do |user|
                .form-group
                  %label.col-md-2.control-label{:for => "inputName1"} Name
                  .col-md-8
                    =user.text_field :name, class: "form-control",:placeholder => "Name", :type => "text"
                  
                .form-group
                  %label.col-md-2.control-label{:for => "inputEmail1"} Email
                  .col-md-8
                    =user.text_field :email, class: "form-control",:placeholder => "Email", :type => "text"
                    
                .form-group
                  %label.col-md-2.control-label{:for => "inputPassword1"} Password
                  .col-md-8
                    =user.text_field :password, class: "form-control",:placeholder => "Password  ", :type => "password", :autocomplete=>"false"
                  
      .form-group
        .col-md-offset-2.col-md-8
          = f.submit 'Save', class: "btn-glow primary"