.table-wrapper.products-table.section
  .row.head
    .col-md-12
      %h4 Brokerages
  .row.filter-block
    .pull-right
      %a.btn-flat.success.new-product{:href=>new_admin_brokerage_path} + Add Brokerage
  .row
    %table.table.table-hover
      %thead
        %tr
          %th.col-md-3
            Name
          %th.col-md-3
            %span.line>
            Token
          %th.col-md-3
      %tbody
        -@brokerages.each do |b|
          %tr
            %td
              %a.name{:href => admin_brokerage_path(b)}=b.name
            %td.description=b.access_token
            %td
              %ul.actions
                %li
                  =link_to "Edit", edit_admin_brokerage_path(b) 
                %li.last
                  %a{:href => "#"} Delete