.row
  .col-md-6
    .ibox
      .ibox-title
        %h4 Brokerage Details
        %br
      .ibox-content
        %p
          %b Name:
          = @brokerage.name
        %p
          %b Token:
          = @brokerage.access_token
          
        %p
          %b Default Agent:
          = @brokerage.users.first.name

= link_to 'Back', admin_brokerages_path