!!!
%html
  %head
    %title Broker Dashboard - Home
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / bootstrap
    = stylesheet_link_tag "admin/admin", :media => "all"
    / open sans font
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800", :rel => "stylesheet", :type => "text/css"}/
    / lato font
    %link{:href => "http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic", :rel => "stylesheet", :type => "text/css"}/
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body
    / navbar
    %header.navbar.navbar-inverse{:role => "banner"}
      .navbar-header
        %button#menu-toggler.navbar-toggle{"data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => brokerage_dashboard_path}
          =image_tag "dashboard/cc_logo_inv.png"
      %ul.nav.navbar-nav.pull-right.hidden-xs
        %li.hidden-xs.hidden-sm
          %input.search{:type => "text"}/
        %li.notification-dropdown.hidden-xs.hidden-sm
          %a.trigger{:href => "#"}
            %i.icon-warning-sign
            %span.count 0
          .pop-dialog
            .pointer.right
              .arrow
              .arrow_border
            .body
              %a.close-icon{:href => "#"}
                %i.icon-remove-sign
              .notifications
                %h3 You have 6 new notifications
                %a.item{:href => "#"}
                  %i.icon-signin
                  New user registration
                  %span.time
                    %i.icon-time
                    13 min.
                %a.item{:href => "#"}
                  %i.icon-signin
                  New user registration
                  %span.time
                    %i.icon-time
                    18 min.
                %a.item{:href => "#"}
                  %i.icon-envelope-alt
                  New message from Alejandra
                  %span.time
                    %i.icon-time
                    28 min.
                %a.item{:href => "#"}
                  %i.icon-signin
                  New user registration
                  %span.time
                    %i.icon-time
                    49 min.
                %a.item{:href => "#"}
                  %i.icon-download-alt
                  New order placed
                  %span.time
                    %i.icon-time
                    1 day.
                .footer
                  %a.logout{:href => "#"} View all notifications
        %li.notification-dropdown.hidden-xs.hidden-sm
          %a.trigger{:href => "#"}
            %i.icon-envelope
          .pop-dialog
            .pointer.right
              .arrow
              .arrow_border
            .body
              %a.close-icon{:href => "#"}
                %i.icon-remove-sign
              .messages
                %a.item{:href => "#"}
                  =image_tag("dashboard/contact-img.png", class: "display")
                  .name Alejandra Galván
                  .msg
                    There are many variations of available, but the majority have suffered alterations.
                  %span.time
                    %i.icon-time
                    13 min.
                %a.item{:href => "#"}
                  =image_tag("dashboard/contact-img2.png", class: "display")
                  .name Alejandra Galván
                  .msg
                    There are many variations of available, have suffered alterations.
                  %span.time
                    %i.icon-time
                    26 min.
                %a.item.last{:href => "#"}
                  =image_tag("dashboard/contact-img.png", class: "display")
                  .name Alejandra Galván
                  .msg
                    There are many variations of available, but the majority have suffered alterations.
                  %span.time
                    %i.icon-time
                    48 min.
                .footer
                  %a.logout{:href => "#"} View all messages
        %li.dropdown
          %a.dropdown-toggle.hidden-xs.hidden-sm{"data-toggle" => "dropdown", :href => "#"}
            Your account
            %b.caret
          %ul.dropdown-menu
            %li
              %a{:href => "personal-info.html"} Personal info
            %li
              %a{:href => "#"} Account settings
            %li
              %a{:href => "#"} Billing
            %li
              %a{:href => "#"} Export your data
            %li
              %a{:href => "#"} Send feedback
            %li
              = link_to "Log out", destroy_user_session_path, :method => :delete
        %li.settings.hidden-xs.hidden-sm
          %a{:href => "personal-info.html", :role => "button"}
            %i.icon-cog
        %li.settings.hidden-xs.hidden-sm
          %a{:href => "signin.html", :role => "button"}
            %i.icon-share-alt
    / end navbar
    / sidebar
    #sidebar-nav
      %ul#dashboard-menu
        %li.active
          .pointer
            .arrow
            .arrow_border
          %a{:href => admin_root_path}
            %i.icon-home
            %span Home

        %li
          %a.dropdown-toggle{:href => "#"}
            %i.icon-briefcase
            %span Brokerages
            %i.icon-chevron-down
          %ul.submenu
            %li= link_to "New Brokerage", new_admin_brokerage_path
            %li= link_to "Brokerage list", admin_brokerages_path
          
        %li
          %a.dropdown-toggle{:href => "#"}
            %i.icon-cog
            %span Settings
            %i.icon-chevron-down
          %ul.submenu
            %li= link_to "Global Settings", admin_settings_path
            
        %li
          %a.dropdown-toggle{:href => "#"}
            %i.icon-cog
            %span MLS Imports
            %i.icon-chevron-down
          %ul.submenu
            %li= link_to "Global Map", admin_mls_map_path
       

       
    / end sidebar
    / main container
    .content.gray-bg
      / upper main stats
      = render 'layouts/messages'
      .wrapper#pad-wrapper
        =yield
  = javascript_include_tag "admin/admin"
