!!!
%html
  %head
    %title Broker Dashboard - Home
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / bootstrap
    = stylesheet_link_tag "dashboard", :media => "all"
    / open sans font
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800", :rel => "stylesheet", :type => "text/css"}/
    / lato font
    %link{:href => "http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic", :rel => "stylesheet", :type => "text/css"}/
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body
    / navbar
    %header.navbar.navbar-inverse{:role => "banner"}
      .navbar-header
        %button#menu-toggler.navbar-toggle{"data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => brokerage_dashboard_path}
          =image_tag "dashboard/cc_logo_inv.png"
      #navbar-jsx{"data-react-class" => "NavBar", "data-react-props" => {items: []}.to_json}
    / end navbar
    / sidebar
    #sidebar-nav
      %ul#dashboard-menu
        %li.active
          .pointer
            .arrow
            .arrow_border
          %a{:href => brokerage_dashboard_path}
            %i.icon-home
            %span Home

        %li
          %a.dropdown-toggle{:href => "#"}
            %i.icon-group
            %span Users
            %i.icon-chevron-down
          %ul.submenu
            %li
              =link_to "User list", brokerage_dashboard_brokerage_users_path(@brokerage) 
            %li
              =link_to "New user form", new_brokerage_dashboard_brokerage_user_path(@brokerage)
        %li
          %a.dropdown-toggle{:href => "#"}
            %i.icon-picture
            %span Showings
            %i.icon-chevron-down
          %ul.submenu
            %li
              =link_to "Showing list", brokerage_dashboard_user_showings_path(current_user) 
            %li
              =link_to "Realtime Map", real_time_brokerage_dashboard_showings_path_path

       
    / end sidebar
    / main container
    .content.gray-bg
      / upper main stats
      = render 'layouts/messages'
      .wrapper#pad-wrapper
        =yield
  :javascript
    var mb_notifications_channel = "#{CurbCall::Messaging::DashboardMessenger.channel(@brokerage)}"
    
  = javascript_include_tag "dashboard"
