!!!
/[if lt IE 7 ] <html class="ie ie6" lang="en">
/[if IE 7 ] <html class="ie ie7" lang="en">
/[if IE 8 ] <html class="ie ie8" lang="en">
/[if IE 9 ] <html class="ie ie9" lang="en">
/ [if (gt IE 9)|!(IE)]><!
%html{:lang => "en"}
  / <![endif]
  %head
    %link{:href => "//fonts.googleapis.com/css?family=Satisfy", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600", :rel => "stylesheet", :type => "text/css"}/
    %title Curb Call - Developers
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    = stylesheet_link_tag "developers/dashboard", :media => "all"

  %body#buffer-for-developers.nobar.free
    .app.plump
      %header.page
        .header-container
          =image_tag "logo2.png"
          %nav
            %ul

      %ul.notices.clearfix
      #container.container.app.plump
        = render 'layouts/messages'
        =yield
        
      %footer
        %ul
          .row
            %li
              %a{:href => "mailto:talk@curbcallapp.com"} Email Us
            %li
              %a{:href => "/faq"} FAQ
            %li
              %a{:href => "/about"} About
            %li
              %a{:href => "http://blog.curbcallapp.com"} Blog
            %li
              %a{:href => "http://jobs.curbcallapp.com"} Jobs

            %li © 2015

    